body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 8px solid white;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin-top: 1px;
  margin-bottom: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  font-family: sans-serif;
  background: #e3f4ff;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 8px;
  padding-left: 8px;
}

.button-container {
  background: #e3f4ff;
  border: 1px solid white;
  margin-top: 8px;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border:2px solid #eee;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 24px;
}